.app-layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 8vh 92vh;
  grid-template-areas:
  "header header"
  "side-nav main";
}

#header {
  background-color: lightgray;
  grid-area: header;
}

#main-view {
  background-color: gray;
  grid-area: main;
}

#side-nav {
  background-color: lightblue;
  grid-area: side-nav;
}
